<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <% include("includes/messages") %>
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-5">
      <h1 class="text-center" >Agenda</h1>
      <p class="text-center lead">Seus Contatos estão abaixo</div>
        <div class="row">
          <div class="responsive-table">
            <table class="table my-3">
              <% contatos.forEach((contato, index)=>{%>
                <tr>
                  <td><%= contato.name %></td>
                  <td><%= contato.phone %></td>
                  <td><%= contato.email %></td>
                  <td><a href="/contato/<%= contato._id %>">Editar</a></td>
                  <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                </tr>                
              <% }) %>
            </table>
          </div>
        </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
